/* nprogress customization */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 15px #3b82f6;
}

#nprogress .peg {
  box-shadow: 0 0 15px #3b82f6, 0 0 8px #2563eb;
}

/* Fade out the progress bar */
#nprogress.done .bar {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#nprogress .spinner {
  display: none;
}
